<h4>Xin chào <%= @user.name %>,</h4>
<p>Hệ thống không thể xác thực tài khoản của bạn. Có lẽ bạn đã thay đổi mật khẩu :&#40;.</p>
<p>Xin vui lòng truy cập đường dẫn <%= link_to "này", root_url(username: @user.username) %> để cập nhật mật khẩu và tiếp tục nhận thông báo từ hệ thống.</p>

<hr>
<p><small>Hệ thống sử dụng thuật toán <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES</a> 2 lớp để bảo vệ tài khoản của bạn.</small></p>