<h4>Xin chào <%= @user.name %>,</h4>
<p>Đây là email thông báo rằng bạn đã đăng ký nhận thông báo từ 
<a href="http://courses.uit.edu.vn/">moodle</a> thành công.</p>

<p>Cảm ơn bạn đã <b><u>tin tưởng</u></b> và sử dụng hệ thống.</p>