<h4>Xin chào <%= @user.name %>,</h4>
<p>Đây là email thông báo rằng bạn đã đăng ký nhận thông báo từ Moodle thành công.</p>
<% if @user.messenger? %>
  <p>
    Vì bạn đã chọn hình thức nhận thông báo qua <strong>Facebook Messenger</strong> nên bạn cần thực hiện các bước sau đề hoàn thành việc đăng ký.
  </p>
  <ol>
    <li>Thích trang FoxFizz trên Facebook để Tin nhắn không bị vào mục Tin nhắn Yêu cầu ( <strong>fb.com/foxfizz</strong> ).</li>
    <li>Nhắn tin cho trang với nội dung: <strong>ff activate <%= @user.token %></strong></li>
  </ol>
<% end %>

<p>Cảm ơn bạn đã <b><u>tin tưởng</u></b> và sử dụng hệ thống.</p>
