<h4>Xin chào <%= @user.username %></h4>
<hr>
<p>Đây là email thông báo rằng bạn đã đăng ký nhận thông táo từ 
<a href="http://courses.uit.edu.vn/">moodle</a> thành công.</p>

<p>Cảm ơn bạn đã <b>tin tưởng</b> và sử dụng hệ thống.</p>

<br>
<hr>
<p><small><a href="#">Ngừng đăng ký nhận tin?</a></small></p>