<div id="banner" class="card-panel primary white-text z-depth-0">
  <h5 class="right-align container">
    Hệ thống gửi thông báo từ <a href="https://courses.uit.edu.vn" target="_blank" class="white-text"><u>Moodle</u></a> dành cho sinh viên UIT
  </h5>
</div>

<div id="form-panel">
  <%= render "form", user: @user %>
</div>
