<div id="banner" class="card-panel primary white-text z-depth-0">
  <h5 class="right-align container">
    Hệ thống thông báo <span id="deadline-word">DEADLINE</span> từ <a href="https://courses.uit.edu.vn" target="_blank" class="white-text"><u>Moodle</u></a> dành cho sinh viên UIT
  </h5>
  <p class="center-align">
    Đã có <span class=""><strong><%= User.count + 35 %></strong></span> người <u>tin tưởng</u> và sử dụng. Còn bạn?
  </p>
</div>

<div id="form-panel">
  <%= render "form", user: @user %>
</div>
