<div id="banner" class="card-panel primary white-text z-depth-0">
  <h5 class="right-align container">
    Hệ thống thông báo <span id="deadline-word">DEADLINE</span> từ <a href="https://courses.uit.edu.vn" target="_blank" class="white-text"><u>Moodle</u></a> dành cho sinh viên UIT
  </h5>
  <p class="center-align">
    <i>Hiện đã có <span class=""><strong><u><%= User.count + Student.count %></u></strong></span> người sử dụng.</i>
  </p>
</div>

<div id="form-panel">
  <%= render "form", user: @user %>
</div>
