#form-panel {
  margin-bottom: 20px;

  .card {
    max-width: 500px;
    margin: 0 auto;

    .card-content {
      padding: 24px 48px;

      &:first-child {
        border-radius: 0;
      }
    }
  }

  button {
    margin-top: 30px;
  }
}

#subscribe-progress {
  .progress {
    background-color: #A5D1F3;
  }
}