<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      
    </style>
  </head>

  <body>
    <%= yield %>

    <br>
    <hr>
    <p><small><a href="#">Ngừng đăng ký nhận tin?</a></small></p>
  </body>
</html>
